/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 98px auto;

  font-family: var(--main-font), sans-serif;

  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.header {
  font-family: var(--secondary-font), sans-serif;
  text-align: center;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-block: 130px;
  margin-block-end: 96px;
}

.header__title {
  font-size: clamp(49px, 4.5vw, 65px);
  margin-block-end: 20px;
}

.header__text {
  font-size: clamp(14px, 1.5972vw, 23px);
  text-transform: uppercase;
}

.card {
  margin-block-end: 50px;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' 715;
  margin: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  max-block-size: 700px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-block: 2px solid var(--accent-color);
}

.card__image-mark {
  font-family: var(--secondary-font), sans-serif;
  font-size: 14px;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  top: 27px;
  right: 25px;
  -webkit-text-stroke: 1px var(--bg-color);
}

@supports (text-stroke: 1px var(--bg-color)) {
  .card__image-mark {
    text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  object-fit: cover;
  block-size: 100%;
  scale: 1.05;
}

.contrast-filter {
  filter: contrast(0.5);
}

.blur-filter {
  filter: blur(2px);
}

.grayscale-filter {
  filter: grayscale(90%);
  translate: -75px 0;
}

.saturation-filter {
  filter: saturate(250%);
}

.huerotate-filter {
  filter: hue-rotate(180deg);
}

.sepia-filter {
  filter: sepia(100%) saturate(70%);
  translate: -350px 0;
}

.negative-filter {
  filter: invert(100%);
}

.opacity-filter {
  filter: opacity(0.5);
}

.card__body> :not(:last-child) {
  margin-block-end: 25px;
}

.card__body {
  font-size: 18px;

  margin: 29px 25px 25px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}

.card__icon-button,
.card__like-button {
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  block-size: 100%;
  aspect-ratio: 1/1;
  padding: 0;
  border: none;
  transition: outline 0.3s ease;
}

.card__like-button {
  font-family: var(--secondary-font), sans-serif;
  min-inline-size: 130px;
  border: 2px solid var(--accent-color);
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.heart-body {
  fill: transparent;
  transition: fill 0.3s linear;
}



.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .heart-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}



.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}



.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: like-animation 0.3s ease-in 0.3s;
}



.button__text {
  color: var(--bg-color);
  mix-blend-mode: difference;
}

button:not(.card__icon-button)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

button:not(.card__icon-button):hover::before {
  transform: scaleX(1);
}

button:not(.card__icon-button):focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  font-size: 14px;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__save-button {
  font-family: var(--secondary-font), sans-serif;
  background-color: var(--bg-color);
  line-height: 160%;
  display: flex;
  gap: 8px;
  padding: 14px 18px;
}

.save-button__text {
  translate: 0 5px;
  mix-blend-mode: difference;
  line-height: 90%;
}

.floppy {
  color: var(--bg-color);
  fill: currentColor;
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.dialog-floppy {
  font-family: var(--secondary-font), sans-serif;
  padding: 30px;
}

.dialog-top {
  display: flex;
  gap: 20px;
  align-items: center;

  margin-block-end: 30px;
}

.dialog__text {
  max-inline-size: 234px;
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog-button {
  inline-size: 100%;
  min-height: 38px;
  border: 2px solid var(--accent-color);
}

.dialog-floppy[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 375px) {
  .header__title {
    font-size: 49px;
  }

  .header__text {
    font-size: 14px;
  }

  .header {
    padding-block: 120px;
    margin-block-end: 102px;
  }

  .footer__save-button {
    flex-direction: column;
    align-items: center;
    padding-block-end: 10px;
  }

  .footer__save-button .floppy {
    width: 28px;
    height: 28px;
  }
}