/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --secondary-font: 'PressStart2P';

  --bg-gradient:
    repeating-linear-gradient(90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient(0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%);

  --bg-color: #fff;
  --accent-color: #000;

  --animation-fill-color: #FF0000;
  --heart-contour-color: #000;

}